* {
	box-sizing: border-box;
}

body {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.hud {
	height: 25%;
}

.moveBlock {
	border-radius: 2vw;

	position: fixed;
	top: 50%;
	left: 80%;
	width: 15vw;
	height: 20vw;
	background-color: #BCF0FC;
	border: 3px solid #244A9D;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.moveButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.rotateBlock {
	border-radius: 2vw;
	position: fixed;
	top: 60%;
	right: 75%;
	width: 20vw;
	height: 15vw;
	background-color: #BCF0FC;
	border: 3px solid #244A9D;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.rotateButton {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.arrow {
	font-size:8vw;
	outline: none;
	background-color: #BCF0FC;
    transition-duration: 0.4s;
    border: none;
	color:#244A9D;
}

.arrow:hover {
    color: grey;
    text-shadow: 2px 2px 4px #000000;
}

.arrow:active{
    color: white;
}

.imageContainer {
	position: fixed;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

html {
	font-family: "Lucida Sans", sans-serif;
}