body{margin:50px 0px; padding:0px; text-align:center;}
h1{text-align: center; font-family:\"Trebuchet MS\",Arial, Helvetica, sans-serif; font-size:24px;}
img{text-align: center; padding:15px; border-radius:10px 10px 10px;}
a{text-decoration:none; width:75px; height:50px; border-color:black; font-family:\"Trebuchet MS\",Arial, Helvetica, sans-serif; padding:6px; background-color:#aaaaaa; text-align:center; border-radius:10px 10px 10px; font-size:50px;}
a:link {color:white;}
a:visited {color:white;}
a:hover {color:red;}
a:active {color:white;}